/* General Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.section {
    padding: 20px;
}

.bg-light {
    background-color: #f4f4f4;
}

/* Header */
header {
    background: #333;
    color: #fff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

/* About Section */
#about p {
    font-size: large;
}

/* Skills Section */
.skills-list {
    list-style-type: square;
}

.skills-list li {
    margin-bottom: 0.5rem;
}

/* Projects Section */
.github-link {
    display: inline-block;
    padding: 0.5rem;
}

/* Footer */
.footer {
    text-align: center;
}
